{% load core %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{% build_media_url '/site_media/hello_newsroom.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Hello, Newsroom</title>
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    {% gmap %}
    <script type="text/javascript" charset="utf-8">
        function geocode(form) {
            geocoder.getLocations($("#query").val, handle_geocode);
            
        }

        function handle_geocode(gc_result) {
            if (gc_result.Status.code != 200 || gc_result.Placemark.length == 0) {
                $("#message").html("No locations found for your search.");
                return false;
            }
            if (gc_result.Placemark.length > 1) {
                display_alternatives(gc_result.Placemark);
                return false;
            }
            // exactly one hit
            placemark = gc_result.Placemark[0];
            $("#address_input").val(placemark.address); // pass back the normalized address
            $("#geocode_input").val(placemark.Point.coordinates);
            var form = document.getElementById('the_form');
            form.submit();
        }

        function geocode(form) {
            $("#message").html("");
            var addr_elem = document.getElementById('query_input');
            window.geocoder.getLocations(addr_elem.value, handle_geocode);
            return false;
        }

        function click_handler(loc) {
            // return a closure 
            return function() {
                $("#query_input").val(loc.address);
                $("#the_form").submit();
                return false;
            }
        }

        function display_alternatives(locations) {
            $("#multiple-locations").html('');
            window.stash = locations;
            for (var i = 0; i < locations.length; i++) {
                var node = document.createElement('a');
                $(node).attr("href","#");
                $(node).text(locations[i].address).addClass('alternative-location');
                $(node).click(click_handler(locations[i]));
                $("#multiple-locations").append(node);
            }
        }

        function init_geocoder() {
            var bounds = new GLatLngBounds();
            bounds.extend(new GLatLng(36.969971899999997,-91.513518300000001)); // SW IL BB
            bounds.extend(new GLatLng(42.508347900000004,-87.495213899999996)); // NE IL BB
            window.geocoder = new GClientGeocoder();
            window.geocoder.setViewport(bounds); // prefer results within Illinois
        }

        function init() {
            init_geocoder();
            $("#the_form").bind("submit", geocode);
        }
        $(document).ready(init);
        var gmap = null;
        {% if point %}
        TRAIN_ICON = new GIcon(G_DEFAULT_ICON, "{% build_media_url '/site_media/train.png' %}")
        function init_map() {
            if (GBrowserIsCompatible()) {
                var center = {{point.geojson|safe}};
                gmap = new GMap2(document.getElementById("map"));
                add_google_marker(gmap,center,'{{ address|safe }}')
                var lon = center['coordinates'][0];
                var lat = center['coordinates'][1];
                gmap.setCenter(new GLatLng(lat,lon), 10);
                gmap.setMapType(G_PHYSICAL_MAP);
                gmap.enableDoubleClickZoom();
                gmap.enableContinuousZoom();
                gmap.enableScrollWheelZoom();
                gmap.setZoom(14);
                {% if community_area %}
                var the_url = '{% url_prefix %}{% url comm_area_kml community_area.area_number %}';
                geoxml = new GGeoXml(the_url);
                GEvent.addListener(geoxml, "load", function() {
                    if (this.loadedCorrectly()){
                        gmap.addOverlay(this);
                    } else {
                        GLog.write("didn't load correctly!");
                        GLog.writeUrl(the_url);
                    }
                })
                {% endif %}
            }

            {% if stations %}
                {% for station in stations %}
                add_google_marker(gmap, {{station.geom.geojson|safe}}, '{{station.name}} [{{ station.lines }}]', TRAIN_ICON);
                {% endfor %}
            {% endif %}

        }



        function add_google_marker(gmap,point,label,icon) {
            if (icon == null) {
                icon = G_DEFAULT_ICON;
            }
            var lon = point['coordinates'][0]
            var lat = point['coordinates'][1]
            var gicon = icon;
            var opts = { 'icon': gicon, 'title': label }
            var marker = new GMarker(new GLatLng(lat,lon),opts);
            gmap.addOverlay(marker);
            return marker;
        }

        $(document).ready(init_map);
        {% endif %}

    </script>
</head>

<body>
    <h1>Hello, Newsroom</h1>
    <div id="left-rail">
        <ul>
            <li><a href="http://blog.apps.chicagotribune.com/" title="News Apps Blog">Chicago Tribune News Apps Team Blog</a></li>
            <li><a href="http://docs.djangoproject.com/en/1.1/" title="Django | Django documentation | Version 1.1">Django Documentation (1.1)</a></li>
            <li><a href="http://geodjango.org/docs/index.html" title="GeoDjango Documentation &mdash; GeoDjango v1.2 documentation">GeoDjango Documentation</a></li>
            <li><a href="http://code.google.com/apis/maps/documentation/reference.html" title="Google Maps API Reference - Google Maps API - Google Code">Google Maps API Reference</a></li>
            <li><a href="http://code.google.com/p/google-maps-icons/" title="google-maps-icons - Project Hosting on Google Code">Google Maps Icons</a></li>
            <li><a href="http://docs.jquery.com/Main_Page" title="Main Page - jQuery JavaScript Library">jQuery Documentation</a></li>
            <li><a href="http://www.cityofchicago.org/gis" title="City of Chicago - Geographic Information Systems">City of Chicago GIS data</a>
                <ul>
                    <li><a href="http://egov.cityofchicago.org/webportal/COCWebPortal/COC_ATTACH/community_area.zip" title="Chicago Community Areas (direct link to Shapefile ZIP)">Chicago Community Areas</a></li>
                    <li><a href="http://egov.cityofchicago.org/webportal/COCWebPortal/COC_EDITORIAL/CTA_Stations.zip" title="CTA Stations (direct link to Shapefile ZIP)">CTA Stations</a></li>
                    
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
<form id="the_form" action="{% url search %}">
    <label for="query_input">Enter an address:</label> <input size="40" type="text" id="query_input" name="query" value="{{query|default:''}}"><br />
    <input type="hidden" id="address_input" name="address" />
    <input type="hidden" id="geocode_input" name="geocode" />
    <input type="submit" value="Go!"/>
    <div class="error" id="message"></div>
</form>
<div id="multiple-locations">
</div>
{% if address %}
{% if point %}
<div id="map"></div>
{% endif %}
<div id="normalized-address">Normalized Query Address: {{ address }}</div>
{% if remainder %}<h2>Did you mean?</h2>
<ul>
{% for hit in remainder %}
<li><a href="{% url search %}?query={{hit.0}}">{{hit.0}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if community_area %}
<p>Your search is within the {{ community_area.community }} community area.</p>
{% else %}
<p><em>{{ address}}</em> could not be located within any of Chicago's 77 community areas.</p>
{% endif %}
{% if stations %}
The following CTA stations are within one mile of your query:
<ul>
    {% for station in stations %}
    <li>{{station.name}} – {{ station.lines }} ({{station.address}})</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
</div>
<a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
</body>
</html>
